<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siuuuuu.commodeami.actor.query.repository.ActorMapper">
    <resultMap id="actorResultMap" type="com.siuuuuu.commodeami.actor.query.aggregate.Actor">
        <id property="actorId" column="actor_id" />
        <result property="name" column="name" />
        <result property="gender" column="gender" />
        <result property="profileImage" column="profile_image" />
        <result property="knownForDepartment" column="known_for_department" />
        <result property="originalName" column="original_name"/>
    </resultMap>

    <resultMap id="movieActorResultMap" type="com.siuuuuu.commodeami.actor.query.aggregate.MovieActor">
        <id property="actorId" column="actor_id" />
        <result property="name" column="name" />
        <result property="gender" column="gender" />
        <result property="profileImage" column="profile_image" />
        <result property="knownForDepartment" column="known_for_department" />
        <result property="originalName" column="original_name"/>
        <result property="role" column="role"/>
        <result property="castingOrder" column="casting_order"/>
    </resultMap>

    <select id="selectAllActors" resultMap="actorResultMap">
        SELECT
            ACTOR_ID
           ,NAME
           ,GENDER
           ,PROFILE_IMAGE
           ,KNOWN_FOR_DEPARTMENT
           ,ORIGINAL_NAME
         FROM
            TBL_ACTOR
    </select>

    <select id="selectActorsByMovieId" resultMap="movieActorResultMap">
        SELECT
            a.ACTOR_ID
           ,a.NAME
           ,a.GENDER
           ,a.PROFILE_IMAGE
           ,a.KNOWN_FOR_DEPARTMENT
           ,a.ORIGINAL_NAME
           ,r.ROLE
           ,r.CASTING_ORDER
         FROM
            TBL_ACTOR a
         JOIN
            TBL_MOVIE_ACTOR r
          ON
         a.ACTOR_ID = r.ACTOR_ID
        WHERE
        r.MOVIE_ID = #{MOVIE_ID}
        ORDER BY
        r.CASTING_ORDER;
    </select>
</mapper>