.custom-dialog {
    border-radius: 1rem; 
    width: 40rem;
    border: 1px solid black;
}

.custom-dialog .p-dialog-header {
    display: flex;
    color: black;
    font-size: 1.2rem;
    justify-content: center; 
    align-items: center;    
    text-align: center;    
    padding: 1rem;
}

.custom-dialog .p-dialog-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.form-group {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #E5E9F5;
    background-color: #F6F7FA;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-group input:focus {
    border-color: #3D6094;
    background-color: #ffffff;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: -1rem;
}

.form-controls {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-controls .p-button {
    padding: 16px 75px;
    background-color: #3D6094;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1.0rem;
    margin-bottom: 1rem;
}

.form-controls .p-button:hover {
    background-color: #2c4970;
}

.link-container p {
    margin: 0;
    font-size: 12px;
    color: #3D6094;
    text-align: center;
}

.link-container a {
    color: #3D6094;
    text-decoration: none;
    margin-right: 10px;
}

.link-container a:last-child {
    margin-right: 0;
}

.link-container a:hover {
    text-decoration: underline;
}

.reset-email {
    display: flex;
    justify-content: center;
}

.password-reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.password-reset-container p {
    display: flex;
    justify-content: center;
}

.form-group2 {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group2 label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
}

.form-group2 input {
    width: 100%;
    padding: 15px;
    border: 1px solid #E5E9F5;
    background-color: #F6F7FA;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

.form-group2 input:focus {
    border-color: #3D6094;
    background-color: #ffffff;
}

.form-group2 .p-button {
    background-color: #3D6094;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1.0rem;
    transition: background-color 0.3s ease;
}
