<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siuuuuu.commodeami.averagescope.query.repository.AverageScopeMapper">
    <resultMap id="averageScopeResultMap" type="com.siuuuuu.commodeami.averagescope.query.aggregate.AverageScope">
        <id property="averageScopeId" column="average_scope_id" />
        <result property="averageScope" column="average_scope" />
        <result property="numberOfPeople" column="number_of_people" />
        <result property="movieId" column="movie_id" />
    </resultMap>

    <select id="selectAllAverageScopes" resultMap="averageScopeResultMap">
        SELECT
            AVERAGE_SCOPE_ID
           ,AVERAGE_SCOPE
           ,NUMBER_OF_PEOPLE
           ,MOVIE_ID
         FROM
            TBL_AVERAGE_SCOPE
    </select>

    <select id="selectAverageScopeByMovieId" resultMap="averageScopeResultMap">
        SELECT
            AVERAGE_SCOPE_ID
           ,AVERAGE_SCOPE
           ,NUMBER_OF_PEOPLE
           ,MOVIE_ID
         FROM
            TBL_AVERAGE_SCOPE
        WHERE
            MOVIE_ID = #{movieId}
    </select>
</mapper>