* {
    text-decoration: none;
}

.navigation-bar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: auto; 
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    display: flex;
    padding: 1.5rem;
    text-align: center;
    align-items: center;
    margin-left: -1rem;
    justify-content: space-between;
}

.logo h1 {
    font-size: 1.8rem;
    color: #3D6094;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar .p-inputtext {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    /* font-size: 16px; */
    margin-left: 20rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    /* transition: border-color 0.3s; */
}

.search-bar .p-inputtext:focus {
    border-color: #3D6094;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.auth-buttons .link-button .p-button {
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: #3D6094;
    border: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.auth-buttons .link-button .p-button:hover {
    background-color: #0056b3;
}

.auth-buttons .logout-button .p-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.auth-buttons .logout-button .p-button:hover {
    background-color: #c82333;
}

.divide-line {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ccc
}
