main {
  padding: 20px;
}
 .movie-detail .movie-header {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  
  .movie-detail .movie-header img {
    width: 100%;
    height: auto;
    max-height: 480px; 
    border-radius: 8px;
  }
  
  .movie-detail .movie-header .movie-header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
    text-align: left;
  }
  
  .movie-detail .movie-header .movie-header-overlay h1 {
    margin: 0;
    font-size: 24px; 
    font-weight: bold;
  }
  
  .movie-header-overlay p {
    margin: 5px 0;
    font-size: 16px; 
    font-weight: 500;
  }

  .movie-detail .movie-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  .movie-detail .movie-details .movie-details-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px; 
    border-bottom: 2px solid #ddd; 
    padding-bottom: 30px;
  }
  
  .movie-detail .movie-details .movie-details-content img {
    max-width: 267px; 
    max-height: 381px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; 
    flex-shrink: 0;
  }
  
  .movie-detail .movie-info {
    max-width: 80%;
    max-height: 350px;
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }


.movie-detail .stars {
    gap: 50px;
    font-size: 50px;
  }
  
  .movie-detail .rating-score {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 30px;
    gap: 50px;
    font-size: 20px;
  }
  
  .movie-detail .rating-score .expected-score {
    color: gray;
  }
  
  .movie-detail .rating-score .average-score {
    color: gray;
  }
  
  .rating-score .score-item {
    width: 100px;
  }
  
  .movie-detail .star-display-container {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 14rem;
    margin-right: 100px; 
  }
  
  .movie-detail .star-display-container p{
    width: 150px;
  }

  .movie-detail .movie-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
    margin-top: 10px; 
  }
  
  .movie-detail .movie-buttons button {
    width: 100px; 
    height: 30px;
    font-size: 15px;
    padding: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background-color: #3D6094;
    align-self: center;
    margin: 0;
  }
  
  .movie-detail .movie-buttons button:hover {
    background-color: #2C4870; 
  }

  .movie-detail .cast-item {
    text-align: center;
  }
  
  .movie-detail .cast-item img {
    width: 117px;
    height: auto;
  }

  .movie-cast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -30px;
  }

  .movie-cast  .cast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 117px;
  }
  
  .movie-cast .cast-list {
    display: flex;
    gap: 43px;
    max-height: 400px;
    overflow-y: auto;
    justify-content: center;
  }

  .movie-cast .more-button {
    width: 80px; 
    height: 30px;
    font-size: 15px; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background-color: #3D6094; 
    align-self: center; 
  }
  
  .movie-stills{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .movie-stills .still-list {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    padding: 10px 0;
  }
  
  .movie-stills .still-list img {
    height: auto;
  }
  
  .movie-stills .more-button {
    width: 80px; 
    height: 30px;
    font-size: 15px; 
    padding: 10px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background-color: #3D6094; 
    align-self: center; 
  }

  .movie-stills .p-carousel-container {
    width: 100%; 
}

.movie-stills .p-carousel-content {
    justify-content: center;
}

.movie-stills .p-carousel-item {
    padding: 5px;
}

.movie-stills img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.movie-stills img:hover {
    transform: scale(1.05); 
}

.movie-reviews {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.movie-reviews h2 {
  padding: 0 0;
  text-align: left; 
}

.movie-reviews .review-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  padding: 0 20px;
}

.movie-reviews .review-item {
  flex: 1 1 300px; 
  max-width: 400px; 
  border: 1px solid #ccc; 
  padding: 16px; 
  box-sizing: border-box; 
  border-radius: 10px;
}


.movie-reviews .more-button {
  width: 80px; 
  height: 30px; 
  font-size: 15px;
  padding: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: #3D6094;
  align-self: center; 
  margin-top: 1%;
}

.movie-reviews .more-button:hover {
  background-color: #3D6094;
}

.rating-popup .popup-content .popup-buttons {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
}


.rating-popup .popup-content .popup-buttons .p-button {
  display: flex;
  color: white;
  border: none;
  border-radius: 8px; 
  background-color: #3D6094;
  cursor: pointer;
}

.review-button {
  display: flex;
  justify-content: flex-end;
}

.review-button .p-button {
  display: flex;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: #3D6094;
  cursor: pointer;
}

.cast-popup {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4개의 열로 정렬 */
  gap: 20px;
  justify-content: center;
}

.cast-item {
  text-align: center; 
}

.cast-item img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.cast-item p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.review-video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.review-video-list iframe{
  margin: 5px;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}